{:mqtt {
         :username ""
         :password ""
         :url ""
         :trustStorePassword ""
         :topic ""
         }
 :slack {
          :token ""
          :channel ""
          }
 :usgs {
         :interesting-distance-threshold 200
         :worrisome-distance-threshold 100
         }
 :initial-locations []}